<!DOCTYPE html>
<html>
<head>

  <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
  
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--metatextblock-->
  <title>KOIOS: Odysseus Genomic Mapper</title>
  <meta property="og:url" content="/">
  <meta property="og:title" content="KOIOS: Odysseus Genomic Mapper">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ url_for('static',filename='imgs/tild3632-6432-4034-a665-666633343761__ic_info_outline_black.svg') }}">
  <link rel="canonical" href="http://project5843205.tilda.ws"><!--/metatextblock-->
  <meta property="fb:app_id" content="257953674358265">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="https://ws.tildacdn.com">
 
  <link rel="shortcut icon" href="{{ url_for('static',filename='imgs/koios-logo.ico') }}" type="image/x-icon"><!-- Assets -->
  <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';">
  <link rel="stylesheet" href="css/tilda-blocks-page29078480.min.css?t=1658140603" type="text/css" media="all" onerror="this.loaderr='y';">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;subset=latin,cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/tilda-forms-1.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';">
  <link rel="stylesheet" href="css/tilda-slds-1.4.min.css" type="text/css" media="print" onload="this.media='all';" onerror="this.loaderr='y';"><noscript>
  <link rel="stylesheet" href="css/tilda-slds-1.4.min.css" type="text/css" media="all"></noscript>
  <link rel="stylesheet" href="css/tilda-zoom-2.0.min.css" type="text/css" media="print" onload="this.media='all';" onerror="this.loaderr='y';"><noscript>
  <link rel="stylesheet" href="css/tilda-zoom-2.0.min.css" type="text/css" media="all"></noscript>

  <script type="text/javascript">
  function t_onReady(func) {
  if (document.readyState != 'loading') {
  func();
  } else {
  document.addEventListener('DOMContentLoaded', func);
  }
  }
  function t_onFuncLoad(funcName, okFunc, time) {
  if (typeof window[funcName] === 'function') {
  okFunc();
  } else {
  setTimeout(function() {
  t_onFuncLoad(funcName, okFunc, time);
  },(time || 100));
  }
  }
  </script>
  <script src="js/jquery-1.10.2.min.js" onerror="this.loaderr='y';"></script>
  <script src="js/tilda-scripts-3.0.min.js" onerror="this.loaderr='y';"></script>
  <script src="js/tilda-blocks-page29078480.min.js?t=1658140603" onerror="this.loaderr='y';"></script>
  <script src="js/lazyload-1.3.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
  <!-- <script src="js/tilda-forms-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script> -->
  <script src="js/tilda-slds-1.4.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
  <script src="js/hammer.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
  <script src="js/tilda-zoom-2.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
  <script src="js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  </script>
  <script type="text/javascript">
  (function () {
  if((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent))===false && typeof(sessionStorage)!='undefined' && sessionStorage.getItem('visited')!=='y' && document.visibilityState){
  var style=document.createElement('style');
  style.type='text/css';
  style.innerHTML='@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
  document.getElementsByTagName('head')[0].appendChild(style);
  function t_setvisRecs(){
  var alr=document.querySelectorAll('.t-records');
  Array.prototype.forEach.call(alr, function(el) {
  el.classList.add("t-records_animated");
  });
  setTimeout(function () {
  Array.prototype.forEach.call(alr, function(el) {
  el.classList.add("t-records_visible");
  });
  sessionStorage.setItem("visited", "y");
  }, 400);
  } 
  document.addEventListener('DOMContentLoaded', t_setvisRecs);
  }
  })();
  </script>
</head>
<body class="t-body" style="margin:0;">
  <!--allrecords-->
  <div><a href="https://ohdsi.org" target="_blank"><img src="{{ url_for('static',filename='imgs/ohdsi_color.png') }}" style="align-text"=left; height="45px" imgfield="img" position=absolute margin=0 auto; top=10px;></a></div>
  <div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="5843205" data-tilda-page-id="29078480" data-tilda-formskey="f49bad0d8c351b92dafcf2b5f5843205" data-tilda-lazy="yes">
    <div id="rec470150921" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px;background-image: url('https://odysseusinc.com/wp-content/themes/odysseus/img/fon_2.jpg');background-attachment:fixed;background-size: cover;background-color:#abffca;" data-record-type="255" data-bg-color="#abffca">
      <!-- T225 -->
      
      <div class="t225">
        <div class="t-container t-align_center">
          <div class="t-col t-col_10 t-prefix_1">

            <div class="t225__title t-title t-title_md" field="title" style="color:#FFFFFF;">
              VCF, HGVS &#x2192 OMOP Genomic
            </div>
            

            <div class="t225__uptitle t-uptitle t-uptitle_sm" field="subtitle" style="text-transform:uppercase;color:#FFFFFF;">
              <a href="https://odysseusinc.com/" target="_blank" style="color:#FFFFFF;text-decoration: underline;">Odysseus Data Services</a>
            </div>

            <div class="t442__btn-img-wrapper"><img src="{{ url_for('static',filename='imgs/3.png') }}" style="height: 70px" imgfield="img" alt="tild3632-6432-4034-a665-666633343761__ic_info_outline_black"></div>
            <br>
            <br>
            <div class="t225__title t-title t-title_name" field="title" style="text-transform:uppercase;color:#FFFFFF;">
              <a href="https://koios.ohdsi.org" target="_blank" style="color:#FFFFFF">KOIOS</a>
            </div>

            <br>
            <br>
            <div class="t442__btn-text t-descr t-descr_md" style="color:#FFFFFF;">
              This tool developed by <a href="https://odysseusinc.com/" target="_blank" style="color:#FFFFFF;text-decoration: underline;">Odysseus Inc</a> allows you to map VCF files with human genomics data or TXT/CSV files with HGVS to <a href="https://athena.ohdsi.org/search-terms/terms?vocabulary=OMOP+Genomic&page=1&pageSize=15&query=" target="_blank" style="color:#FFFFFF;text-decoration: underline;">OMOP Genomic vocabulary</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="rec470152675" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px;" data-record-type="442">
      <!-- t442 -->
      <div class="t442">
        <div class="t-container">
          <div class="t-col t-col_10 t-prefix_1">
            <div class="t442__wrapone">
              <div class="t442__wraptwo">
                <a class="t442__link" href="https://koios.ohdsi.org" style="color:#000000;">
                <div class="t442__link-wrapper t442__link-wrapper-hover">
                  
                  <div class="t442__btn-img-wrapper-2"><img src="{{ url_for('static',filename='imgs/tild3632-6432-4034-a665-666633343761__ic_info_outline_black.svg') }}" imgfield="img" style="" class="t442__btn-img t442__btn-img_md" alt="tild3632-6432-4034-a665-666633343761__ic_info_outline_black"></div>
                  <div class="t442__btn-text t-descr t-descr_md" style="color:#000000;">
                    Process your files
                  </div>
                </div></a> 
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---<div><img src="{{ url_for('static',filename='imgs/steps.svg') }}" imgfield="img2" style="width: 100%"></div>-->

    <div id="rec470150921" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="height:450px;padding-top:120px;padding-bottom:120px;background-image: url('https://odysseusinc.com/wp-content/themes/odysseus/img/fon_9.jpg');background-attachment:fixed;background-size: cover;background-color:#abffca;" data-record-type="255" data-bg-color="#abffca">
      <!-- T225 -->
      <div class="t225">
        <div class="t-container t-align_center">
          <img src="{{ url_for('static',filename='imgs/steps-transparent-vcf.png') }}" imgfield="img2" style="width: 100%">
        </div>
      </div>
    </div>
    <div id="rec470152675" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px;" data-record-type="442">
      <!-- t442 -->
      <div class="t442">
        <div class="t-container">
          <div class="t-col t-col_10 t-prefix_1">
            <div class="t442__wrapone">
              <div class="t442__wraptwo">
                <a class="t442__link" href="https://github.com/OHDSI/Koios" target="_blank" style="color:#000000;">
                <div class="t442__link-wrapper t442__btn2 t442__link-wrapper-hover">
                  
                  <div class="t442__btn-img-wrapper-2"><img src="{{ url_for('static',filename='imgs/25231.png') }}" imgfield="img2" style="" class="t442__btn-img t442__btn-img_md"></div>
                  <div class="t442__btn-text t-descr t-descr_md" style="color:#000000;">
                    Use our Python package
                  </div>
                </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="rec470150921" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="height:450px;padding-top:120px;padding-bottom:120px;background-image: url('https://odysseusinc.com/wp-content/themes/odysseus/img/fon_9.jpg');background-attachment:fixed;background-size: cover;background-color:#abffca;" data-record-type="255" data-bg-color="#abffca">
      <!-- T225 -->
      <div class="t225">
        <div class="t-container t-align_center">
          <img src="{{ url_for('static',filename='imgs/steps-transparent-hgvs.png') }}" imgfield="img2" style="width: 100%">
        </div>
      </div>
    </div>

    <!--<div class="t-col t-col_8 t-prefix_2">-->
          

  </div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
  <div class="t-tildalabel" id="tildacopy" data-tilda-sign="5843205#29078480">
    <a href="https://odysseusinc.com/" target="_blank" class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
      <div class="t-tildalabel__txtright">
        Made by
      </div>
      
      <div class="t-tildalabel__wrapimg"><img src="https://odysseusinc.com/wp-content/themes/odysseus/img/logo_1.png" class="t-tildalabel__img" fetchpriority="low" alt="tildacopy"></div>
      <div class="t-tildalabel__txtright">
        Odysseus Inc
      </div>
    </div></a>
  </div><!-- Stat -->
  <script type="text/javascript">
  // if (! window.mainTracker) { window.mainTracker = 'tilda'; }
  // setTimeout(function(){ (function (d, w, k, o, g) { var n=d.getElementsByTagName(o)[0],s=d.createElement(o),f=function(){n.parentNode.insertBefore(s,n);}; s.type = "text/javascript"; s.async = true; s.key = k; s.id = "tildastatscript"; s.src=g; if (w.opera=="[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); } })(document, window, '0bfbb09e81311ab3920725b7363c2c5b','script','js/tilda-stat-1.0.min.js');
  // }, 2000);
  </script>

     <script>



    // document.getElementsByName('file1')[0].onchange = ()=>{
    //   encodeImageFileAsURL();
    // }
    function encodeImageFileAsURL(element) {
    var file = element.files[0];
    var reader = new FileReader();
    reader.onloadend = function() {
      var base64result = reader.result.split(',')[1];
      document.getElementsByName('im_src')[0].value = base64result
      console.log('RESULT', base64result)
    }
    reader.readAsDataURL(file);
  }
   </script>
</body>
</html>